In [6]:
import requests
from bs4 import BeautifulSoup
import sys
from collections import defaultdict, Counter
import pandas as pd

### Getting Batter Stats

In [57]:
#batter url
batter_url = "http://www.rotowire.com/baseball/player_ex_stats.htm"

In [58]:
def get_soup(url):
    r = requests.get(url)
    return BeautifulSoup(r.content, 'html.parser')

In [59]:
batter_soup = get_soup(batter_url)

In [60]:
#create dictionary of players and stats
def get_player_data(soup):
    tbl = soup.find('table')
    d = defaultdict(list)
    columns = []
    for idx, tr in enumerate(tbl.findAll('tr')):
        for td in tr.findAll('td'):
            d[idx].append(td.text)
    return d

In [61]:
batter_dict= get_player_data(batter_soup)

In [62]:
batter_data = pd.DataFrame.from_dict(batter_dict, 'index')
batter_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
1,"Betts, Mookie",BOS,OF,74,326,3.72,5,6,0,21,51,6.1,0.41,84.4,16.5,.291,.305
2,"Escobar, Alcides",KC,SS,73,314,3.37,18,8,0,10,48,3.1,0.21,84.7,18.7,.252,.294
3,"Bogaerts, Xander",BOS,SS,73,310,3.80,2,6,0,26,50,7.7,0.52,83.9,11.7,.345,.390
4,"Cano, Robinson",SEA,2B,75,308,3.62,0,7,2,24,49,7.2,0.49,84.1,1.3,.299,.304
5,"Springer, George",HOU,OF,75,307,3.82,2,5,1,38,79,11.0,0.48,74.3,13.5,.261,.302

In [63]:
#Manually retrieved columns from website
batter_data = batter_data.rename(columns={0: 'Player Name', 1:'Team', 2:'Position',
                                      3: 'Games', 4:'ABs',5: 'Pitches Per AB', 6:'Bunts',
                                     7: 'Hit into DP', 8:'Intentional Walks',9: 'Walks', 10:'SOs',
                                     11: 'Walk Rate', 12:'W2SO Ratio',13: 'Contact Rate', 14: 'Stolen Base Opportunity',
                                          15:'Batting Average',16: 'Batting Average on BIP'})
batter_data.head()

,Player Name,Team,Position,Games,ABs,Pitches Per AB,Bunts,Hit into DP,Intentional Walks,Walks,SOs,Walk Rate,W2SO Ratio,Contact Rate,Stolen Base Opportunity,Batting Average,Batting Average on BIP
1,"Betts, Mookie",BOS,OF,74,326,3.72,5,6,0,21,51,6.1,0.41,84.4,16.5,.291,.305
2,"Escobar, Alcides",KC,SS,73,314,3.37,18,8,0,10,48,3.1,0.21,84.7,18.7,.252,.294
3,"Bogaerts, Xander",BOS,SS,73,310,3.80,2,6,0,26,50,7.7,0.52,83.9,11.7,.345,.390
4,"Cano, Robinson",SEA,2B,75,308,3.62,0,7,2,24,49,7.2,0.49,84.1,1.3,.299,.304
5,"Springer, George",HOU,OF,75,307,3.82,2,5,1,38,79,11.0,0.48,74.3,13.5,.261,.302

#### Reality Check
<img src="images/batters.jpg" style="width: 700px;"/>

### Getting Pitcher Stats

In [82]:
#pitcher url

pitcher_url = "http://www.rotowire.com/baseball/player_ex_stats.htm?pos=P"
pitcher_soup = get_soup(pitcher_url)
pitcher_dict = get_player_data(pitcher_soup)
pitcher_data = pd.DataFrame.from_dict(pitcher_dict, 'index')
pitcher_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
1,"Kershaw, Clayton",LAD,15,115.0,15,14,93.3,20.14,11.03,0.55,0.47,.259,80.3,93.0,1.57,1.61
2,"Cueto, Johnny",SF,15,109.3,15,13,86.7,4.57,7.90,1.73,0.25,.283,79.0,91.4,2.06,2.40
3,"Bumgarner, Madison",SF,16,108.3,16,14,87.5,4.21,10.14,2.41,0.83,.279,86.0,90.9,1.99,2.98
4,"Greinke, Zack",ARI,16,107.3,16,10,62.5,4.24,7.46,1.76,1.01,.296,72.1,91.3,3.61,3.60
5,"Scherzer, Max",WAS,16,107.3,16,11,68.8,4.93,11.57,2.35,1.68,.264,74.7,94.2,3.52,3.86

In [83]:
pitcher_data = pitcher_data.rename(columns={0: 'Player Name', 1:'Team',2: 'Games', 3:'Innings Pitched',
                                      4: 'Starts', 5:'Quality Starts',6: 'Quality Start %', 7:'K/BB',
                                     8: 'K/9IP', 9:'BB/9IP',10: 'HR/9IP', 11:'Batting Avg on Balls IP',
                                     12: 'Strand Rate', 13:'FB VLO',14: 'ERA', 15:'Fielding Ind Pitching',
                                     16: 'Batting Average on BIP'})
pitcher_data.head()

,Player Name,Team,Games,Innings Pitched,Starts,Quality Starts,Quality Start %,K/BB,K/9IP,BB/9IP,HR/9IP,Batting Avg on Balls IP,Strand Rate,FB VLO,ERA,Fielding Ind Pitching
1,"Kershaw, Clayton",LAD,15,115.0,15,14,93.3,20.14,11.03,0.55,0.47,.259,80.3,93.0,1.57,1.61
2,"Cueto, Johnny",SF,15,109.3,15,13,86.7,4.57,7.90,1.73,0.25,.283,79.0,91.4,2.06,2.40
3,"Bumgarner, Madison",SF,16,108.3,16,14,87.5,4.21,10.14,2.41,0.83,.279,86.0,90.9,1.99,2.98
4,"Greinke, Zack",ARI,16,107.3,16,10,62.5,4.24,7.46,1.76,1.01,.296,72.1,91.3,3.61,3.60
5,"Scherzer, Max",WAS,16,107.3,16,11,68.8,4.93,11.57,2.35,1.68,.264,74.7,94.2,3.52,3.86

#### Reality Check
<img src="images/pitchers.jpg" style="width: 700px;"/>

In [84]:
#incase rotoworld wants to block me before I finish the project :)

pitcher_data.to_csv("../Data_Engineering_Project/data/pitchers_2016_06_26.csv", sep=',')
batter_data.to_csv("../Data_Engineering_Project/data/batters_2016_06_26.csv", sep=',')